---
import type {
  FiresideChatStoryblok,
  FiresideChatsListingsStoryblok,
} from "@storyblok/types";
import {
  getStories,
  parseAsset,
  parseLink,
} from "@/services/storyblok/helpers";
import type { Prettify } from "@/types";
import FiresideChatListing from "./item.astro";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import Pagination from "@/components/ui/pagination.astro";
type Props = {
  blok: Prettify<FiresideChatsListingsStoryblok>;
};

const PER_PAGE = 1;
const pageNumber = Astro.url.searchParams.get("page");
const currentPage = pageNumber ? Number.parseInt(pageNumber) : 1;

const { stories: firesideChats, total } =
  await getStories<FiresideChatStoryblok>({
    contentType: "firesideChat",
    version: import.meta.env.CONTENT_VERSION,
    per_page: PER_PAGE,
    page: currentPage,
  });

// Calculate total pages
const totalPages = Math.ceil(total / PER_PAGE);

const {
  blok: { title, subtitle, subscribeLinks, subscribeLinksCaption },
} = Astro.props;
---

<div {...storyblokEditable(Astro.props.blok as SbBlokData)}>
  <h2>{title}</h2>
  <p>{subtitle}</p>
  <div>
    {
      subscribeLinks?.map((link) => (
        <a
          href={parseLink(link.link, "href")}
          target={parseLink(link.link, "target")}
        >
          <img
            src={parseAsset(link.icon, "src")}
            alt={parseAsset(link.icon, "alt")}
          />
          {link.label}
        </a>
      ))
    }
  </div>
  <div>
    {firesideChats.map((chat) => <FiresideChatListing story={chat} />)}
  </div>

  {
    totalPages > 0 && (
      <Pagination currentPage={currentPage} totalPages={totalPages} />
    )
  }
</div>
