---
import type { NavigationStoryblok } from "@storyblok/types";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import type { Prettify } from "@/types";
import DesktopNav from "./desktop-nav.astro";
import MobileNav from "./mobile-nav.astro";

interface Props {
  className?: string;
  blok: Prettify<NavigationStoryblok>;
  theme?: "light" | "dark";
}

const { blok, className, theme = "light" } = Astro.props as Props;
---

<div {...storyblokEditable(blok as SbBlokData)}>
  <DesktopNav blok={blok} className={className} theme={theme} />
  <MobileNav blok={blok} className={className} theme={theme} />
</div>

<!-- Attach the animations script -->
<script src="./nav-animations.ts"></script>
