---
import type { NavigationStoryblok } from "@storyblok/types";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import Link from "../ui/link.astro";
import Media from "../ui/media.astro";
import type { Prettify } from "@/types";
type Props = {
  className?: string;
  blok: Prettify<NavigationStoryblok>;
};

const {
  blok: { logo, centreLinks, rightLinks },
  className,
} = Astro.props;
---

<nav class={className} {...storyblokEditable(Astro.props.blok as SbBlokData)}>
  <div>
    {logo?.filename && <Media asset={logo} width={140} height={66} />}
  </div>
  <div>
    {
      centreLinks?.map((item) => {
        if (item.component === "link") {
          return <Link blok={item} />;
        }

        if (item.component === "linkDropdown") {
          return (
            <div>
              <span>{item.dropdownTitle}</span>
              <div>
                {item.links?.map((dropdownLink) => {
                  return <Link blok={dropdownLink} />;
                })}
              </div>
            </div>
          );
        }
        return null;
      })
    }
  </div>
  <div>
    {
      rightLinks?.map((link) => {
        return <Link blok={link} />;
      })
    }
  </div>
</nav>
