---
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import Base from "./base.astro";
import type { Prettify } from "@/types";

import type { FinePrintStoryblok } from "@storyblok/types";
import RichText from "@/components/ui/rich-text.astro";

type Props = {
  blok: Prettify<FinePrintStoryblok>;
};

const {
  blok: { seo, body },
} = Astro.props;
---

<Base
  title={seo?.[0]?.title}
  description={seo?.[0]?.description}
  openGraphTitle={seo?.[0]?.openGraphTitle}
  noIndex={seo?.[0]?.noIndex}
  openGraphImage={seo?.[0]?.openGraphImage?.filename || undefined}
>
  <main {...storyblokEditable(Astro.props.blok as SbBlokData)}>
    <div>Table of contents</div>
    <div>
      <RichText content={body} />
    </div>
  </main>
</Base>
